<%= form_for @listing do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :condition %><br>
    <%= f.select :condition, options_for_select(["Accceptable", "Good", "Like New"]) %>
  </div>
  <div class="form-group">
      <%= f.label(:tag_list, "Tags* (seperated by commas)") %><br />
      <%= f.text_field(:tag_list, value: @listing.tag_list.join(","))%>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time, class: "listing_start_time", :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.text_field :end_time,  class: "listing_end_time", :readonly => true  %>
  </div>

  <script>
    $(function() {
        $('.listing_start_time').datepicker({
          dateFormat: "yy-mm-dd",
          defaultDate: "0",
          minDate: "0",
          onSelect: function(date, inst){
            $( ".listing_end_time" ).datepicker("setDate", date);
            $( ".listing_end_time" ).datepicker("option", {minDate: date});
            setTimeout(function(){
              $( ".listing_end_time" ).datepicker('show');
            }, 16);   
          }
        });
      });

    $(function() {
      $('.listing_end_time').datepicker({
        dateFormat: "yy-mm-dd",
        minDate: "0"
      });
    });
  </script>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <p> Upload cover photo here!</p>
    <img id="img_prev" src="#" onError="this.onerror=null;this.src='/images/default_avator.png';" 
    style="width:128px;height:128px;">
    <%= f.file_field :cover_photo, :onchange => "readURL(this);"%>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :status, :value => "active" %>
  <div class="actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
