<%= form_for @listing do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <style>
  .d_avator{
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 25px;
  }

  .Upload{
      font-weight: bold;
      vertical-align: text-bottom;
  }
  </style>

  <div class="form-group">
    <span class="glyphicon glyphicon-chevron-right"></span> <%= f.label :brand %>
    <%= f.text_field :brand, autofocus: true, class: "form-control input-md" %>
  </div>

  <div class="form-group">
    <span class="glyphicon glyphicon-chevron-right"></span> <%= f.label :model %>
    <%= f.text_field :model, autofocus: true, class: "form-control input-md" %>
  </div>

  <div class="form-group">
    <span class="glyphicon glyphicon-usd"> </span> <%= f.label :price %>
    <%= f.text_field :price, autofocus: true, class: "form-control input-md" %>
  </div>

  <div class="form-group">
  <span class="glyphicon glyphicon-wrench"> </span> <%= f.label :condition %> 
  <%= f.select(:condition, options_for_select(["Accceptable", "Good", "Like New"]), {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <span class="glyphicon glyphicon-tag"> </span> <%= f.label(:tag_list, "Tags* (seperated by commas)") %>
    <%= f.text_field(:tag_list, value: @listing.tag_list.join(","), class: "form-control input-md") %>
  </div>

  <div class="form-group">
    <span class="glyphicon glyphicon-time"> </span> <%= f.label :start_time %>
    <%= f.text_field :start_time, :readonly => true, class: "form-control listing_start_time" %>
  </div>

  <div class="form-group">
    <span class="glyphicon glyphicon-time"> </span> <%= f.label :end_time %>
    <%= f.text_field :end_time, :readonly => true, class: "form-control listing_start_time" %>
  </div>

  <script>
    $(function() {
        $('.listing_start_time').datepicker({
          dateFormat: "yy-mm-dd",
          defaultDate: "0",
          minDate: "0",
          onSelect: function(date, inst){
            $( ".listing_end_time" ).datepicker("setDate", date);
            $( ".listing_end_time" ).datepicker("option", {minDate: date});
            setTimeout(function(){
              $( ".listing_end_time" ).datepicker('show');
            }, 16);   
          }
        });
      });

    $(function() {
      $('.listing_end_time').datepicker({
        dateFormat: "yy-mm-dd",
        minDate: "0"
      });
    });
  </script>

  <span class="glyphicon glyphicon-pencil"> </span> <%= f.label :description %><br>
  <%= f.text_area :description, class: "form-control", id: "textarea", rows: "3"%>

  <br>

  <div class="form-group">
    <span class="glyphicon glyphicon-picture"> </span> <b>Upload cover photo here!</b><br>
    <img id="img_prev" src="#" style="width:512px;height:400px;" onError="this.onerror=null;this.src='/images/default-thumb.png'" class="file-loading formal-control">
    <%= f.file_field :cover_photo, :onchange => "readURL(this);", class: 'Upload', id:'input-dim-2'%>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :status, :value => "active" %>
  <div class="actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
