<p id="notice"><%= notice %></p>

<h1>Listing Listings</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Price</th>
      <th>Condition</th>
      <th>Start time</th>
      <th>End time</th>
      <!--<th>Description</th>-->
      <th>Owner Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.brand %></td>
        <td><%= listing.model %></td>
        <td><%= listing.price %></td>
        <td><%= listing.condition %></td>
        <td><%= listing.start_time %></td>
        <td>|<%= listing.end_time %></td>
        <!-- <td><%= listing.description %></td> -->
        <td><%= User.find(listing.user_id).email %></td>
        <td> | <%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
