<!doctype html>
<html lang="en">
<head>        
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />  
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display|Raleway:700,100,400|Roboto:400,700|Playfair+Display+SC:400,700' rel='stylesheet' type='text/css'>
    
    <style>
        .card{
            margin-bottom: 70px;
        }

        html, body {
          font-family: "Helvetica Neue","Open Sans",Arial,sans-serif;
          background-color: #e7e7e7;
        }
    </style>

</head>

<body>

<br><br>

<div class="wrapper">       
    <div class="container">        
        
        <div class="masonry-container">         
            
            <% @listings.each do |listing| %>
            
            <div class="card-box col-md-4 col-sm-6">
                <div class="card">                            
                    <div class="header">
                        <img src="/images/slide1.jpg"/>
                        <div class="filter"></div>
                        
                        <div class="actions">
                              <%= link_to 'More Details', listing, class:"btn btn-round btn-fill btn-neutral btn-modern",role:"button"  %>
                        </div>
                    </div>
                    
                    <div class="content">
                        <h6 class="category"><%= listing.model %></h6>
                        <h4 class="title"><a href="#"><%= listing.brand %></a></h4>

                        <p class="description">
                          <% if listing.user_id != current_user.id %>
                          <%= listing.description %><br><%= link_to 'Order', new_order_path(:user => User.find(listing.user_id).id, :listing => listing.id) %>
                          <% end %>
                        </p>

                    </div>                                           
                </div> <!-- end card -->
             </div>
                
            <% end %>
                              
        </div>
        
    </div> 
</div> <!-- end wrapper -->

</body>

  <script src="/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
  <script src="/assets/js/hipster-cards.js"></script>
  
  <!--  Just for demo  -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
    
  
</html>



