<div class="container">
<div class="row">
<div >
<br>
<p id="notice"><%= notice %></p>

<% cache(cache_key_for_each_listing(@listing)) do %>
<p>
  <strong>Brand:</strong>
  <%= @listing.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @listing.model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @listing.tag_list.join(', ') %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @listing.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @listing.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<% end %>

  <% if @listing.user_id == current_user.id %>
  Orders of this listing: <br>
    <table>
      <thead>
        <tr>
          <th>Start time</th>
          <th>End time</th>
          <th>Status</th>
          <th>Price</th>
          <th colspan="5"></th>
        </tr>
      </thead>


      <tbody>
        <% @listing_orders.each do |order| %>
          <tr>
            <td><%= order.start_time %></td>
            <td><%= order.end_time %></td>
            <td><%= order.status %></td>
            <td><%= order.price %></td>
            <td><%= link_to 'Show', order %></td>
            <td><%= link_to 'Edit', edit_order_path(order) %></td>
            <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% if order.status == "Processing" %>
            <td><%= link_to 'Accept', orders_accept_path(:order_id => order.id), data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'Deny', orders_deny_path(:order_id => order.id), data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p> Ther's no order for this listing yet @_@! </p>
  <% end %>


<%= render 'show_photos' %> <br>

<%= render template: 'comments/index' %> <br>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
</div>
</div>
</div>
