<!DOCTYPE html>


<head>
    <style>
    footer {
        margin: 50px 0;
    }
    </style>

    <link href="/assets/css/show.css" rel='stylesheet'>
</head>

<body>
    <br>
    <br>
    <div class="container-fluid">
    <div class="content-wrapper">   
        <!-- <div class="item-container">     -->
            <div class="container"> 
                
                    <div class="col-md-12">
                         
                    </div>
                
                    <div class="col-md-7">
                    <div class="product-title"><%= @listing.brand %> <%= @listing.model %></div>
                    <div class="product-desc">Condition: <%= @listing.condition %></div>
                    
                    <hr>
                    <div class="product-price">$<%= @listing.price %></div>
                    <div class="product-stock">End Time: <%= @listing.end_time %></div>
                    <hr>
                    <div class="btn-group cart">
                            <%= link_to 'Order', new_order_path(:user => User.find(@listing.user_id).id, :listing => @listing.id), class:"btn btn-success", type:"button"%> 
                    </div>
                </div>

            </div> 
        <!-- </div> -->
        <div class = "container">
        <div class = "row">
        <div class="container-fluid">       
            <div class="col-md-12 product-info">
                    <ul id="myTab" class="nav nav-tabs nav_tabs">
                        
                        <li class="active"><a href="#service-one" data-toggle="tab">Description</a></li>
                        <li><a href="#service-two" data-toggle="tab">Reviews</a></li>
                        
                        
                    </ul>
                <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="service-one">
                         
                            <section class="container product-info">
                                <%= @listing.description %>
                            </section>
                                          
                        </div>
                    <div class="tab-pane fade" id="service-two">
                        
                        <section class="container">
                        <% cache(cache_key_for_each_comment_tree(@listing, @comments_root)) do %>
                        <%= render template: 'comments/index' %> <br>
                        <% end %> <!-- cache end -->
                        </section>
                        
                    </div>
                    
                </div>
                <hr>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

</body>


</html>
