<% if comment.root? %>
	<!-- don't show root comment node because it's basically a dummy node -->
<% else %>
	<div class="well well-sm">
	  <h2><%= comment.title %></h2>
	  <p class="text-muted">Added by <strong><%= comment.author %></strong> on
	    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

		<blockquote>
		  <p><%= comment.body %></p>
		</blockquote>
		
		<% from_reply_form ||= nil %>
		<% unless from_reply_form %>
		  <% if comment.root? %>
		    <small class="text-muted">I am a root! Wooooo! I shouldn't be seen!</small>
		  <% end %> 
		  <p><%= link_to 'reply', new_comment_path(comment.id) %></p>
		<% end %>
	</div>
<% end %>