<h3>Listing Information:</h3>
<% cache(cache_key_for_each_listing(@listing)) do %>
<p>
  <strong>Brand:</strong>
  <%= @listing.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @listing.model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @listing.tag_list.join(', ') %>
</p>

<p>
  <strong>Listing Start time:</strong>
  <%= @listing.start_time %>
</p>

<p>
  <strong>Listing End time:</strong>
  <%= @listing.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<% end %>

<br><h3>Select your start and end time:</h3>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time, class: "order_start_time", :readonly => true %>
  </div>

  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.text_field :end_time, class: "order_end_time", :readonly => true  %>

    <script>
    var selected_start_date = null;

    function start_and_end(){
      var start = JSON.parse("<%= raw escape_javascript Order.where('listing_id = ? AND id <> ?', @listing.id, @order.id).map(&:start_time).map {|t| t.strftime('%F') if (t!=nil)}.to_json %>");
      var end = JSON.parse("<%= raw escape_javascript Order.where('listing_id = ? AND id <> ?', @listing.id, @order.id).map(&:end_time).map {|t| t.strftime('%F') if (t!=nil)}.to_json %>");
      return [start, end];
    }

    function dateDisabled(date){
      [start, end] = start_and_end();

      var len = start.length;
      //console.log(len);
      for(var i = 0; i < len; i++){
        //console.log(start[i]);
        //console.log(end[i]);
        //console.log(date);
        var d1 = new Date(start[i]);
        var d2 = new Date(end[i]);
        //console.log(d1);
        //console.log(d2);
        if (date >= d1 && date <= d2){
          //console.log("Oops");
          return [false, ""];
        }
      }
      return [true, ""];
    }

    function dateDisabled_end(date){
      if(dateDisabled(date)[0] == false)
        return [false, ""];

      [start, end] = start_and_end();
      var len = start.length;
      var last_available = null;
      for(var i = 0; i < len; i++){
        var d1 = new Date(start[i]);
        if (d1 > selected_start_date &&
          (last_available == null || last_available > d1)){
          last_available = d1;
        }
      }

      if(last_available == null || date < last_available)
        return [true, ""];
      else
        return [false, ""];
    }

    $(function() {
      $(".order_start_time").datepicker({
        dateFormat: "yy-mm-dd",
        defaultDate: "0",
        minDate: "0",
        maxDate: "<%= Listing.find(@listing.id).end_time %>",
        beforeShowDay: dateDisabled,
        onSelect: function(date, inst){
          selected_start_date = new Date(date);
          $( ".order_end_time" ).datepicker("setDate", date);
          $( ".order_end_time" ).datepicker("option", {minDate: date});
          $( ".order_end_time" ).datepicker("option", {beforeShowDay: dateDisabled_end});
          setTimeout(function(){
            $( ".order_end_time" ).datepicker('show');
          }, 16);   
        }
      });
    });

    $(function() {
      //$('.order_end_time').removeClass('hasDatepicker');

      $(".order_end_time").datepicker({
        dateFormat: "yy-mm-dd", 
        minDate: "0",
        maxDate: "<%= Listing.find(@listing.id).end_time %>",
        beforeShowDay: dateDisabled
      });
    });
   </script>

  </div>
  <%= f.hidden_field :price, :value => @listing.price %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :listing_id, :value => @listing.id %>
    <%= f.hidden_field :status, :value => "Processing" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
