<h3>Listing Information:</h3>
<% cache(cache_key_for_each_listing(@listing)) do %>

<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Listing Info
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> Brand:
                                    <span class="pull-right text-muted small"><em><%= @listing.brand %></em>
                                    </span>
                                </div>
                                <div href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> Model:
                                    <span class="pull-right text-muted small"><em><%= @listing.model %></em>
                                    </span>
                                </div>
                                <div href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Price:
                                    <span class="pull-right text-muted small"><em><<%= @listing.price %></em>
                                    </span>
                                </div>
                                <div href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> Condition:
                                    <span class="pull-right text-muted small"><em><%= @listing.condition %></em>
                                    </span>
                                </div>
                                <div href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Tags:
                                    <span class="pull-right text-muted small"><em><%= @listing.tag_list.join(', ') %></p></em>
                                    </span>
                                </div>
                                <div class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Listing Start time:
                                    <span class="pull-right text-muted small"><em><%= @listing.start_time %></em>
                                    </span>
                                </div>
                                <div href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Listing End time:
                                    <span class="pull-right text-muted small"><em><%= @listing.end_time %></em>
                                    </span>
    
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                  </div>


<% end %> <!-- end cache -->

<% cache do %>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <span class="glyphicon glyphicon-time"> </span> <%= f.label :start_time %>
    <%= f.text_field :start_time, :readonly => true, class: "form-control order_start_time" %>
  </div>

  <div class="form-group">
    <span class="glyphicon glyphicon-time"> </span> <%= f.label :end_time %>
    <%= f.text_field :end_time, :readonly => true, class: "form-control order_end_time" %>
  </div>

    <script>
    var selected_start_date = null;

    function start_and_end(){
      var start = JSON.parse("<%= raw escape_javascript Order.where('listing_id = ? AND id <> ?', @listing.id, @order.id).map(&:start_time).map {|t| t.strftime('%F') if (t!=nil)}.to_json %>");
      var end = JSON.parse("<%= raw escape_javascript Order.where('listing_id = ? AND id <> ?', @listing.id, @order.id).map(&:end_time).map {|t| t.strftime('%F') if (t!=nil)}.to_json %>");
      return {start: start, end: end};
    }

    function dateDisabled(date){
      var result = start_and_end();
      var start = result.start;
      var end = result.end;

      var len = start.length;
      //console.log(len);
      for(var i = 0; i < len; i++){
        //console.log(start[i]);
        //console.log(end[i]);
        //console.log(date);
        var d1 = new Date(start[i]);
        var d2 = new Date(end[i]);
        //console.log(d1);
        //console.log(d2);
        if (date >= d1 && date <= d2){
          //console.log("Oops");
          return [false, ""];
        }
      }
      return [true, ""];
    }

    function dateDisabled_end(date){
      if(dateDisabled(date)[0] == false)
        return [false, ""];

      var result = start_and_end();
      var start = result.start;
      var end = result.end;
      var len = start.length;
      var last_available = null;
      for(var i = 0; i < len; i++){
        var d1 = new Date(start[i]);
        if (d1 > selected_start_date &&
          (last_available == null || last_available > d1)){
          last_available = d1;
        }
      }

      if(last_available == null || date < last_available)
        return [true, ""];
      else
        return [false, ""];
    }

    $(function() {
      $(".order_start_time").datepicker({
        dateFormat: "yy-mm-dd",
        defaultDate: "0",
        minDate: "0",
        maxDate: "<%= Listing.find(@listing.id).end_time %>",
        beforeShowDay: dateDisabled,
        onSelect: function(date, inst){
          selected_start_date = new Date(date);
          $( ".order_end_time" ).datepicker("setDate", date);
          $( ".order_end_time" ).datepicker("option", {minDate: date});
          $( ".order_end_time" ).datepicker("option", {beforeShowDay: dateDisabled_end});
          setTimeout(function(){
            $( ".order_end_time" ).datepicker('show');
          }, 16);   
        }
      });
    });

    $(function() {
      //$('.order_end_time').removeClass('hasDatepicker');

      $(".order_end_time").datepicker({
        dateFormat: "yy-mm-dd", 
        minDate: "0",
        maxDate: "<%= Listing.find(@listing.id).end_time %>",
        beforeShowDay: dateDisabled
      });
    });
   </script>

  </div>
  <%= f.hidden_field :price, :value => @listing.price %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :listing_id, :value => @listing.id %>
    <%= f.hidden_field :status, :value => "Processing" %>
  <div class="actions">
    <%= f.submit nil, :class => 'btn btn-lg btn-success btn-block' %>
  </div>
<% end %>

<% end %> <!-- cache end -->
