<table class="orders">
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Status</th>
      <th>Price</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.start_time %></td>
        <td><%= order.end_time %></td>
        <td><%= order.status %></td>
        <td><%= order.price %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if order.status == "Processing" %>
        <td><%= link_to 'Accept', orders_accept_path(:order_id => order.id), data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Deny', orders_deny_path(:order_id => order.id), data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>