<br>
<br>
<div class="container">
  <div class="row">
  <p id="notice"><%= notice %></p>

  <h2>Order request</h2>

  <script>
    function update_status_div(status) {  
      //console.log("wow");
    jQuery.ajax({
      url: "index_with_status",
      type: "GET",
      data: {"status" : status},
      dataType: "html",
      success: function(data) {
        //console.log("aha");
        jQuery("#ordersDiv").html(data);
      }
    });
  }
  </script>

 <%= select_tag 'status', options_for_select(["All", "Accepted", "Denied", "Processing"], "All"), class:"form-control", :onchange => "update_status_div(this.value)" %>

  <br>

  <div id="ordersDiv">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Requester</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Status</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= User.find(order.user_id).email %></td>
        <td><%= order.start_time %></td>
        <td><%= order.end_time %></td>
        <td><%= order.status %></td>
        <td><%= order.price %></td>
        <td><%= link_to 'Show', order %></td>

        <% if order.status == "Processing" %>
        <td><%= link_to 'Accept', orders_accept_path(:order_id => order.id), data: { confirm: 'Accept this order?' } %></td>
        <td><%= link_to 'Deny', orders_deny_path(:order_id => order.id), data: { confirm: 'Deny this order?' } %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
</div>
</div>