<% cache(cache_key_for_index_order(@orders)) do %>
<div class="container">
  <br>
  <br>
  <h2>My Orders</h2>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        
        <thead>
          <tr>
            <th>Owner</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Status</th>
            <th>Price</th>
            <th colspan="5"></th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
            <% cache(cache_key_for_each_order_row(order)) do %>
              <tr>
              <td><%= User.find(Listing.find(order.listing_id).user_id).email %></td>
              <td><%= order.start_time %></td>
              <td><%= order.end_time %></td>
              <td><%= order.status %></td>
              <td><%= order.price %></td>
              <td><%= link_to 'Show', order %></td>
              <% if order.status == "Processing" %>
              <td><%= link_to 'Edit', edit_order_path(order) %></td>
              <td><%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure you want to CANCEL this order?' } %></td>
              <% end %>
              </tr>
            <% end %> <!-- cache end -->
          <% end %>
       </tbody>
      </table>
    </div>
  </div>
</div>
<% end %> <!-- cache end -->
