<%= form_for(@product_photo) do |f| %>
  <% if @product_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_photo.errors.count, "error") %> prohibited this product_photo from being saved:</h2>

      <ul>
      <% @product_photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
    <%= f.hidden_field :listing_id, :value => @listing.id %>
    <div>
      <img id="img_prev" src="#" onError="this.onerror=null;this.src='/images/default_avator.png';" 
      style="width:128px;height:128px;">
      <%= f.file_field :picture, :onchange => "readURL(this);" %>
    </div>

  </div><br>
  <div class="actions">
    <%= f.submit nil, :class => 'btn btn-primary'%>
  </div>
<% end %>
