<!DOCTYPE html>
<html>
<head>
  <title>Gadgetbite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="main-container" class="container-fluid">

    <div class="row"> 
      <div class="col-md-12">
        <BR>
      </div>
    </div>

    <div class="row">

      <div id="logo" class="col-md-2">
        <%= image_tag "403Studio.jpg", :size => '160x90'%>
      </div>

      <div id="topbar" class="col-md-8">
        <p class="text-left"><h1>Gadgetbite</h1></p>
        <p>Produced by 403 Studio</p>
      </div>

      <div id="signupandlogin" class="col-md-2">
        <br>

        <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.<br>
          Your address is: <%= current_user.address %> <br>
          coord: <%= current_user.lat %>, <%= current_user.lon %><br>
          Distance to Powell Library: <%= current_user.distance_to(Geocoder.coordinates("405 Hilgard Ave, Los Angeles"), :mi) %> mi<br> <br>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> <br>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %><br>
          <%= link_to 'Add Listing', new_listing_path %> <br>
          <%= link_to 'All Listings', listings_path %> <br>
          <%= link_to 'My Listings', listings_index_my_path %><br>
          <%= link_to 'My Orders', orders_path %><br>
          <%= link_to 'Order Requests', orders_index_request_path %>

        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> <br>
          <%= link_to "Log in", new_user_session_path%>

        <% end %>
      </div>
    </div>

    <div class="row"> 

      <div class="col-md-2">
        <BR>
        <li><a href="/"><p class="text-center">Home</p></a ></li>
        <BR>
        <li><a href="/welcome/about"><p class="text-center">About us</p></a ></li>
      </div>

      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>

  </div>

</body>
</html>


