<!DOCTYPE html>

<html>
<head>
  <title>Gadgetbite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<style type="text/css">
.avatar-frame{border: 5px solid #F8F8F8;}
.avatar-frame,.avatar-frame img{
  width: 40px;
  height: 40px;
  -webkit-border-radius: 30px; /* Saf3+, Chrome */
  border-radius: 30px; /* Opera 10.5, IE 9 */
  /*-moz-border-radius: 30px;  Disabled for FF1+ */
  }

.lsearch{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.rounded {
background:  url("/images/rounded.gif") no-repeat left top;
padding: 8px;
}
</style>
  

</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">Gadgetbite</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li><a href="/">Home</a></li>
            <li><a href="/welcome/about">About</a></li>
            
            
            <li class="lsearch">
            <div class="form-group">
              <%= form_tag listings_path, :method => :get do %>
              <%= text_field_tag :search, params[:search], :class => "form-control", :type => "text" %>
            </div>
            </li>

            <li class="lsearch">
              <%= submit_tag "Search", :class => "btn btn-default", :type=> "submit", :name => nil %>
              <% end %>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                <li><%= link_to 'Add Listing', new_listing_path %></li>
                <li><%= link_to 'My Listings', listings_index_my_path %></li>
                <li><%= link_to 'My Orders', orders_path %></li>
                <li><%= link_to 'Order Requests', orders_index_request_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
              </ul>
            </li>
            <li><div class="avatar-frame"><a href=<%= edit_user_registration_path %>>
                <%= image_tag (user_photo_url current_user), :size => '150'%>
            </a></div></li>
            <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Log in", new_user_session_path%></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

      <br><br>
        <%= yield %>


</body>
</html>


